<!DOCTYPE html>
<html lang="en">
<head>
<#include "/common/manage-header.html">
<title>配置页</title>
</head>
<body>
	<br>
	<br>
	<br>
	<div class="container">
		  <div class="row clearfix" >
			<!-- 树 -->
			<div class="pt-aside pt-aside-border">
				<div class="pt-tree-title">
					<span>模型</span>		
				</div>
				<div id="tree"></div>
			</div>
			<div style="float:right">
			<button type="button" class="btn  btn-lg btn-default btn-primary" style="margin-rigth:280px">指标展示</button>
			<button type="button" class="btn  btn-lg btn-default btn-primary" style="margin-right:280px">指标公式</button>
			</div>	
		</div>
        
		
	</div>
	<br>
	<br>
	<br>
</body>
<script>


	$(function() {
		$.ajax({
			type : "Post",
			url : "api/credit/xygl-indicatorsystem/getTreeM",
			dataType : "json",
			success : function(result) {
				console.log(result)
		        $('#tree').treeview({
		            data: result,     // data is not optional
		            icon: "glyphicon glyphicon-stop",
		            color: "#000000",
		            backColor: "#FFFFFF",
		            // selectable: true,
		            highlightSelected: false,
		            state: {
		                checked: true,
		                disabled: true,
		                expanded: true,
		                selected: true
		            },
		            tags: ['available'],
		            showCheckbox:true,
		            multiSelect: true,
//		                uncheckedIcon:"glyphicon glyphicon-unchecked",
		            showTags:true,
		            onNodeSelected:function (event, data) {
		            },
		            onNodeChecked:nodeChecked ,
		            onNodeUnchecked:nodeUnchecked

		        });

		    },
		    function (error) {
		        console.log("ERROR")
		    }
		})
		
			
		
		
		// checkbox checked start
		    var nodeCheckedSilent = false;
		    function nodeChecked (event, node){
		        if(nodeCheckedSilent){
		            return;
		        }
		        nodeCheckedSilent = true;
		        checkAllParent(node);
		        checkAllSon(node);
		        nodeCheckedSilent = false;
		    }

		    var nodeUncheckedSilent = false;
		    function nodeUnchecked  (event, node){
		        if(nodeUncheckedSilent)
		            return;
		        nodeUncheckedSilent = true;
		        uncheckAllParent(node);
		        uncheckAllSon(node);
		        nodeUncheckedSilent = false;
		    }

		//选中全部父节点
		    function checkAllParent(node){
		        $('#tree').treeview('checkNode',node.nodeId,{silent:true});
		        var parentNode = $('#tree').treeview('getParent',node.nodeId);
		        if(!("nodeId" in parentNode)){
		            return;
		        }else{
		            checkAllParent(parentNode);
		        }
		    }
		//取消全部父节点

		    function uncheckAllParent(node){
		        $('#tree').treeview('uncheckNode',node.nodeId,{silent:true});
		        var siblings = $('#tree').treeview('getSiblings', node.nodeId);
		        var parentNode = $('#tree').treeview('getParent',node.nodeId);
		        if(!("nodeId" in parentNode)) {
		            return;
		        }
		        var isAllUnchecked = true;  //是否全部没选中
		        for(var i in siblings){
		            if(siblings[i].state.checked){
		                isAllUnchecked=false;
		                break;
		            }
		        }
		        if(isAllUnchecked){
		            uncheckAllParent(parentNode);
		        }

		    }

		//级联选中所有子节点
		    function checkAllSon(node){
		        $('#tree').treeview('checkNode',node.nodeId,{silent:true});
		        if(node.nodes!=null&&node.nodes.length>0){
		            for(var i in node.nodes){
		                checkAllSon(node.nodes[i]);
		            }
		        }
		    }
		//级联取消所有子节点
		    function uncheckAllSon(node){
		        $('#tree').treeview('uncheckNode',node.nodeId,{silent:true});
		        if(node.nodes!=null&&node.nodes.length>0){
		            for(var i in node.nodes){
		                uncheckAllSon(node.nodes[i]);
		            }
		        }
		    }

		    
	})
	
	
</script>


</html>