<!--搜索条-->
<div class="pt-section-search">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="form-inline">
                <div class="form-group ">
                    <label for="indicName">指标名称</label>
                    <input id="zhibiaomingcheng" type="text" data-condition="like" class="form-control pt-input-append pt-manage-search" name="indicName" placeholder="">
                </div>
                <div class="form-group">
                    <button type="button" onclick="refreshTable();" class="btn btn-primary w120">搜索</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 column pt-btn-line">
        	<button type="button"  onclick="addItem();" class="btn w120 btn-default btn-primary">新增</button>
        	<button type="button"  onclick="fanhuiItem();" class="btn w120 btn-default btn-primary">返回</button>
        </div>
    </div>
</div>