<!--搜索条-->
<div class="pt-section-search">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="form-inline">
                <div class="form-group ">
                    <label for="modelName">模型名称</label>
                    <input type="text" data-condition="like" class="form-control pt-input-append pt-manage-search" name="modelName" placeholder="">
                </div>
                <!-- <div class="form-group ">
                    <label for="modelCode">模型编码</label>
                    <input type="text" data-condition="like" class="form-control pt-input-append pt-manage-search" name="modelCode" placeholder="">
                </div>
                <div class="form-group ">
                    <label for="modelType">类型（信用、风险）</label>
                    <input type="text" data-condition="like" class="form-control pt-input-append pt-manage-search" name="modelType" placeholder="">
                </div>
                <div class="form-group ">
                    <label for="firmType">行业类型</label>
                    <input type="text" data-condition="like" class="form-control pt-input-append pt-manage-search" name="firmType" placeholder="">
                </div>
                <div class="form-group ">
                    <label for="modelSource">模型来源</label>
                    <input type="text" data-condition="like" class="form-control pt-input-append pt-manage-search" name="modelSource" placeholder="">
                </div>
                <div class="form-group ">
                    <label for="modelVersion">模型版本</label>
                    <input type="text" data-condition="like" class="form-control pt-input-append pt-manage-search" name="modelVersion" placeholder="">
                </div>
                <div class="form-group ">
                    <label for="modelStatus">模型状态</label>
                    <input type="text" data-condition="like" class="form-control pt-input-append pt-manage-search" name="modelStatus" placeholder="">
                </div> -->
                <div class="form-group">
                    <button type="button" onclick="refreshTable();" class="btn btn-primary w120">搜索</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 column pt-btn-line">
        	<button type="button"  onclick="addItem();" class="btn w120 btn-default btn-primary">新增</button>
        	<button type="button"  onclick="retenItem();" class="btn w120 btn-default btn-primary">返回</button>
        </div>
    </div>
</div>