<!--搜索条-->
<div class="pt-section-search">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="form-inline">
                <div class="form-group ">
                    <label for="firmName">企业名称</label>
                    <input id="firmName" type="text" data-condition="like" class="form-control pt-input-append pt-manage-search" name="firmName" placeholder="">
                </div>
                <div class="form-group ">
                    <label for="firmCreditcode">社会信用代码</label>
                    <input id="firmCreditcode" type="text" data-condition="like" class="form-control pt-input-append pt-manage-search" name="firmCreditcode" placeholder="">
                </div>
               <div class="form-group " style="display:none;">
                    <label for="creditShow">信用标识</label>
                    <input value="信用" id="xinyong" type="hidden" data-condition="like" class="form-control pt-input-append pt-manage-search" name="creditShow" placeholder="">
                </div>
                <div class="form-group " style="display:none;">
                    <label for="evaScore">得分范围</label>
                    <input id="firstnum" type="number" data-condition="gte" class="form-control pt-input-append pt-manage-search" name="evaScore" placeholder="输入起始分值"> —
                	<input id="secondnum" type="number" data-condition="lte" class="form-control pt-input-append pt-manage-search" name="evaScore" placeholder="输入结束分值">
                </div>
                <div class="form-group">
                    <button type="button" onclick="refreshTable();" class="btn btn-primary w120">搜索</button>
                </div>
                <div class="col-md-12 column pt-btn-line" style="display:none;" id="btn_retu">
        			<button type="button" onclick="goback()" class="btn w120 btn-default btn-primary">返回</button>
        		</div>
            </div>
        </div>
    </div>
</div>